<?xml version="1.0" encoding="utf-8"?>

<launch>
  
  <!-- Use YOLOv3 -->
  <arg name="network_param_file"         default="$(find darknet_ros)/config/yolov3.yaml"/>
  <arg name="image1" default="camera1/color/image_raw" />
  <arg name="image2" default="camera2/color/image_raw" />



  <!-- Include main launch file -->
  <include file="$(find darknet_ros)/launch/darknet_ros2.launch">
    <arg name="network_param_file"    value="$(arg network_param_file)"/>
    <arg name="image1" value="$(arg image1)" />
    <arg name="image2" value="$(arg image2)" />
  </include>

</launch>
